{% extends '::base.html.twig' %}

{% block content %}
	<div class="HomeContent">
	    <div class="row">
	        <div class="col-md-8">
	            <div id="slider"></div>
	            <script src="/bundles/app/js/velocity.min.js"></script>
	            <script src="{{ asset('bundles/app/js/slider.js') }}"></script>
	        </div>
	        <aside class="col-md-4">
	        	{% include('AppBundle:Layout:aside.html.twig') %}
	        </aside>			
	        <div class="col-md-8" id="listDanceStyleHomepage">
        		{% set number = 0 %}
        		{% for danceStyle in danceStyles %}
	        		{% set number = number+1 %}	
	        		<div class="col-md-4">	
	        			{% if 0 == number %3 %}
	                    	<div class="listDanceStyle tomato">
	                    {% elseif 1 == number %3 %}
	                    	<div class="listDanceStyle firebrick">
	                    {% elseif 2 == number %3 %}
	                        <div class="listDanceStyle orange">
	                    {% endif %}
		        	        <h3> {{danceStyle.name}}</h3> 
		        				<ul class="listDanceCategory">
			        				{% for danceCategory in danceStyle.danceCategories %}
			        					<li>
			        						<a href="#">{{danceCategory.name}}</a>
			        					</li>
			        				{% endfor %}	
			        			</ul>
		        	        </div>
		                    </div>			
	        	{% endfor %}
	        	<br class="clearboth" />
	                        </div>	   
	                </div> 
	        </div> 
	    </div>  
	</div>      
{% endblock %}


