body {
	background-color: #FADD17;
}

#homepageHeader {
	padding: 5px;
}
	
.img-circle {
	width: 50%
}

#titleHomepage {
	font-size: 36px;
	font-family: 'Dancing Script';
	color: #8A0507;
	text-align: center;
}
.btn-primary {
	background-color: #8A0507;
	border-color: #8A0507;
	a:hover { 
		background-color: #8A0507; 
	}
}

#navbar {
	background-color: #8A0507;
	border-color: #8A0507;
	margin-left: 5px;
	margin-right: 5px;
}

.navbar-default .navbar-brand {
	color: white;
}

#footer {
	background-color: #8A0507;
	border-color: #8A0507;
	margin-left: 5px;
	margin-right: 5px;
}

.jumbotron {
	text-align: center;
}	

.text-section {
	font-size: 18px;
	text-align: center;
}

.registration {
	margin-left: 25%;
	margin-right: 25%;
}

#slider {
	position: relative;
	border: 2px solid #8A0507;
	width: 700px;
	height: 420px;
	overflow: hidden;
	margin-left: 75px;	
}

#slider img {
	position: absolute;
	left: 0;
}

.listDanceStyle {
    color: #FFF;
    border: solid 1px;
    border-radius: 10px;
    margin: 10px;
    margin-left: 5px;
    margin-top: 5px;
    /*height: 500px;*/
    padding: 10px;
}

.orange {
    background-color: #ffa500;
}

.tomato {
    background-color: tomato;
}

.firebrick {
    background-color: firebrick;
}

.listDanceCategory li {
    text-align: left;
    list-style-type: none;
    color: #FFF;
    margin: 0;
    padding: 0;
}

h2 {
    font-size: 36px;
    font-family: "Dancing Script", cursive;
    color: #8A0507;
    text-align: center;
}

h3 {
    text-shadow: 1px 1px 2px #000000;
}