body {
	background-color: yellow;
}

#homepageHeader {
	padding: 5px;
}
	
.img-circle {
	width: 50%
}

#titleHomepage {
	font-size: 36px;
	font-family: 'Dancing Script';
	color: #8A0507;
	text-align: center;
}

#navbar {
	background-color: #8A0507;
	border-color: #8A0507;
	margin-left: 5px;
	margin-right: 5px;
}

.navbar-default .navbar-brand {
	color: black;
}

#footer {
	background-color: #8A0507;
	border-color: #8A0507;
	margin-left: 5px;
	margin-right: 5px;
}